body {
    background-image: url('');
    font-family: Arial;
  }
  .menu {
    background-color: #00ffc0
  }
  a {
    color: teal;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  .menu li {
    list-style: none;
  }
  .site-subtitle,
  .site-title {
    color: teal;
    text-align: center
  }
  .site-subtitle {
    font-style: italic;
  }